@charset "UTF-8";
@import "~furtive/scss/all";

.container {
  height: 100%;
}

html, body {
  height: 100%;
}
.main {
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 15px 30px;
  width: 100%;
  height: 100%;
}

.sidebar {
  float: left;
  width: 200px;
  height: 100%;
}

.content {
  margin-left: 200px;
  height: inherit;
  overflow: scroll;
}

.timeline {
  height: inherit;
  width: inherit;
}

.tweet {
  &__text {
    font-size: 0.9rem;
  }

}

.user {
  display: inline-block;
  &__icon {
    width: 50px;
    height: 50px;
  }
  &__name {
    font-size: 0.8rem;
    position: relative;
    bottom: 30px;
    font-weight: bold;
    margin-left: 10px;
  }
  &__screenname {
    position: relative;
    bottom: 30px;
    margin-left: 10px;
  }
}
